{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowZonalShiftStatusReadOnly",
      "Effect": "Allow",
      "Resource": "*",
      "Action": [
        "arc-zonal-shift:GetManagedResource"
      ],
      "Condition": {
        "StringEquals": {
          "arc-zonal-shift:ResourceIdentifier": "arn:${partition}:eks:${region}:${account_id}:cluster/${cluster_name}"
        }
      }
    }
  ]
}
