{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowAPIServerEndpointDiscovery",
      "Effect": "Allow",
      "Resource": "arn:${partition}:eks:${region}:${account_id}:cluster/${cluster_name}",
      "Action": "eks:DescribeCluster"
    }
  ]
}
